html {
    --brand-blue: #0039D2;
    --brand-grey: #f2f2f2;
}
Body{
    margin: 0px;
    font-family: Questrial;
    letter-spacing: .5px;
}

header {
    background-color: var(--brand-blue);
    color: #fff;
    padding: 5px;
    position: fixed;
    width: 100vw;
}

h1{
    font-size: 18px;
    letter-spacing: 1.2px;
}

.hero {
    background-color: var(--brand-blue);
    color: var(--brand-grey);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    /* Text styles */
    font-size: 2.5em;
    padding: .5rem;
    margin-bottom: 0.5rem;
}

.hero p{
    padding: .5rem;
}

button {
     /* Positioning and sizing */
     display: block;
     width: 200px;
     
     /* Padding and margins */
     padding: .5em;
     margin-top: 50px;
     margin-left: auto;
     margin-right: auto;
     
     /* Text styles */
     color: var(--brand-grey);
     text-decoration: none;
     font-size: 1.5em;
     
     /* Border styles */
     border: 0px solid;
     background-color: var(--brand-blue);
     border-radius: 20px;
}

h3 {
    font-size: 20px;
}

footer {
    color: var(--brand-grey);
    background-color: var(--brand-blue);
    padding: 20px;
    flex-wrap: wrap-reverse;
}