html {
    --brand-blue: #0039D2;
    --brand-grey: #f2f2f2;
}
Body{
    font-family: Questrial, Helvetica, sans-serif;
    letter-spacing: .5px;
}

header {
    background-color: var(--brand-blue);
    color: #fff;
    padding: 15px 0px 15px 2rem;
    width: 100vw;
}

svg {
    position: relative;
    width:100px;
    animation: rotate 3s linear infinite;
  }
  
  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }

h1{
    font-size: 18px;
    letter-spacing: 1.2px;
}

h3 {
    padding: 1rem;
    color: var(--brand-blue);
    font-size: 2em;
}

.hero {
    background-color: var(--brand-blue);
    color: var(--brand-grey);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    /* Text styles */
    font-size: 2.5em;
    padding: .5rem;
    margin-bottom: 0.5rem;
}

.hero-inner {
    margin-left: 2rem;
    margin-right: 2rem;
}

.hero p{
    padding: .5rem;
}

a {
    color: var(--brand-grey)
}


button {
     /* Positioning and sizing */
     display: block;
     width: 200px;
     
     /* Padding and margins */
     padding: 13px;
     margin-top: 40px;
     margin-left: auto;
     margin-right: auto;
     
     /* Text styles */
     color: var(--brand-grey);
     text-decoration: none;
     font-size: 1.5em;
     
     /* Border styles */
     border: 0px solid;
     background-color: var(--brand-blue);
     border-radius: 25px;
}

.website-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

figcaption{
    margin-top: 20px;
    margin-left: 1rem;
    font-size: 16px;
}

img {
    margin-top: 5px;
    margin-bottom: 15px;
}

/* PSAID STYLE */
.final-psaid{
    min-width: 300px;
}

.link{
    color: var(--brand-blue);
}

.psaid-cap {
    margin-bottom: 15px;
}

.psaid-sketch {
    border: 5px solid var(--brand-blue);
    margin: 1rem;
}
/* heavenly wear */

/* CHARLIES WEB */
.adjustment-charlie{
    margin-bottom: -15rem;
}

.three-website-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

footer {
    margin-top: 2rem;
    color: var(--brand-grey);
    background-color: var(--brand-blue);
    padding: 20px;
}
