html{
    --off-white: #F5F5F5;
    --light-borwn: #9F7E69;
    --brown: #280000;
    --forest-green: #093824; 
    --highlight-green: #6DA34D;
}

body {
    
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

.box-time {
    color: var(--brown);
    background-color:var(--off-white);
    padding: 3px;
}

.big-title{
    font-family: 'Libre Baskerville', serif;
    color: var(--off-white);
    font-size: clamp(36px, 10vw, 100px);
 }

h1 {
    color: var(--off-white);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
    text-align: center;

}

h2{
    color: var(--forest-green);
    font-size: 18 px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

p {
    color: var(--brown);
    letter-spacing: 1px;
    line-height: 1.5;
    margin-bottom: 1rem;
}

th {
    color: var(--brown);
    font-weight: 500px;
}

tr {
    color: var(--forest-green);
}

.grid {
    display: grid;
    grid-template-columns: [full-start] minmax(1rem, 1fr) [main-start] minmax(0, 1280px) [main-end] minmax(1rem, 1fr) [full-end];
}

.grid > * {
    grid-column: main;
}

header {
    background-color: var(--brown);
    padding: 1rem 0;
}

.menu {
    background-color: var(--off-white);
    padding: 4rem 0; 
}

figure {
    margin-top: 2rem;
}

figure img {
    margin-bottom: 1rem;
}
figcaption {
    font-size: 13px;
    font-style: italic;
    letter-spacing: 1px;
}

.footer-type {
    color: var(--off-white)
}

@media screen and (min-width: 800px) {
    .two-columns { 
        display: grid;
        grid-gap: 3rem;
        grid-template-columns: 1fr 1fr;
    }
}

.w3-container {
    background-color: var(--forest-green);
}

.w3-tag {
    color: var(--off-white);
}